<div class="portfolio-container col-12">
    <div class="sections col-12">
        <div class="section-light header col-12">
            <div class="logo">
                <img class="logo-image" src="logo.svg">
            </div>
            <div class="header-menu">
                <span class="menu-item">About</span>
                <!-- <span class="menu-item">Portfolio</span> -->
                <span class="menu-item">Contact</span>
            </div>
        </div>
        <div class="section-light cover col-12">
            <div class="cover-left col-4">
                <div class="name">
                    <h3>I'M</h3>
                    <h1>Ashwith Madikonda</h1>
                </div >
                <div  class="title">
                    <h3>.Net Developer & Information Security Analyst </h3>
                </div>
                <div  class="contact">
                    <button class="button">Contact Me</button>
                </div>
            </div>
            <div class="cover-centre col-6">
                <img src="ashwith-BW.png">
            </div>
            <div class="cover-right col-2">
                <div class="top"></div>
                <div class="bottom">
                    <div class="line"></div>
                    <div class="icons">
                        <i class="bi bi-linkedin"></i>
                        <i class="bi bi-github"></i>
                        <i class="bi bi-whatsapp"></i>
                        <i class="bi bi-instagram"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="section-dark about">
            <h1>About</h1>
            <div class="description">
                <div class="line col-3"></div>
                <div class="text col-9">
                    Skilled information technologies professional with 5 years of experience as an application developer specializing in scalable web applications, following agile and scrum methodologies. Currently pursuing a postgraduate diploma in cybersecurity and looking for opportunities to expand and enhance experience in the areas of Full stack development and information & data security.
                </div>
            </div>
            <div class="skills">
                <div class="header">My Skills</div>
                <div class="skills-list">
                    <div *ngFor="let skill of skillsData" class="skill-card">
                        <span>{{skill.skillName}}</span>
                        <img  [src]="skill.image">
                    </div>

                </div>
            </div>
        </div>
        <div class="section-light experience col-12">
            <div class="header">
                <h1>Experience</h1>
            </div>
            <div *ngFor="let exp of experienceData" class="exp-details col-12">
                    <div class="exp-title col-12">
                        <div class="year col-1">{{exp.year}}</div>
                        <i class="bi bi-circle-fill col-3"></i>
                        <div class="title col-8">{{exp.title}}</div>
                    </div>
                    <div class="exp-data">
                        <div class="line"></div>
                        <div class="data">
                            <div class="organization">
                            <i class="bi bi-building"></i>
                            {{exp.organization}}</div>
                            <div class="location">
                            <i class="bi bi-geo-alt-fill"></i>
                            {{exp.location}}</div>
                        </div>
                    </div>
            </div>
        </div>
        <div class="section-dark feedback col-12">
            <div class="header col-12"> 
                <h1>Testimonial</h1>
            </div>
            <div class="feedback-card col-12">
                <div class="line col-2"></div>
                <div class="description col-10">
                    <div class="feedback-description">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    </div>
                    <div class="person">
                        <div class="name"><h2>John Doe</h2></div>
                        <div class="title">
                            Manager, ABC Corp
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="section-light contact">
            1
        </div>
        <div class="section-dark thanks">
            2
        </div>
    </div>

</div>