<div class="container">
    <div class="sections">
        <div class="section-light header">
            <div class="logo">
                <img class="logo-image" src="logo.svg">
            </div>
            <div class="header-menu">
                <span class="menu-item">About</span>
                <span class="menu-item">Portfolio</span>
                <span class="menu-item">Contact</span>
            </div>
        </div>
        <div class="section-light cover">
            1
        </div>
        <div class="section-dark about">
            2
        </div>
        <div class="section-light experience">
            1
        </div>
        <div class="section-dark testimonial">
            1
        </div>
        <div class="section-light contact">
            2
        </div><div class="section-dark thanks">
            1
        </div>
    </div>
    
</div>