.portfolio-container{
    padding: 0px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    width: 100%;
    // overflow-y: auto;
    overflow-x: hidden;
    .sections{
        width: 100%;
        .section-dark{
            background-color: var(--primary-color-dark);
        }
        .section-light{
        background-color: var(--primary-color-light);
        }
        .header{
            width: 100%;
            display: flex;
            height: 50px;
            line-height: 5;
            .logo{
                width: 40%;
                .logo-image{
                    height: 100%;
                    width: 100%;
                    color: #f6c76f;
                    margin-left: -32%;
                }
            }
            .header-menu{
                width: 60%;
                color: #f9f9f9;
                .menu-item{
                padding: 5px;
                margin-left: 1%;
                }
            }
        }
        .cover{
            width: 100%;
            display: flex;
            flex-direction: row;
            // height: 85%;
            .cover-left{
                display: flex;
                flex-direction: column;
                height: 100%;
                margin: 5% 0 0 5%;
                h1,h3{
                    margin: 2px 2px;
                }
                h1{
                    margin: 0 0 0 3%;
                    color: #f6c76f;
                }
                .name{
                    display: flex;
                    flex-direction: row;
                    color: #f9f9f9;

                }
                .title{
                    color: #f9f9f9;
                }
                .contact{
                    margin-top: 5%;
                    .button{
                        color: #f6c76f;
                        background-color: var(--primary-color-light);
                        border: #f6c76f 5px solid;
                        border-radius: 2px;
                    }
                }
            }
            .cover-centre{
                height: 100%;
                img{
                max-width: 160%;
                max-height: 100%;
                object-fit: contain;
                margin-left: -40%;
                }
            }
            .cover-right{
                display: flex;
                flex-direction: column;
                .top{
                    width: 100%;
                    height: 30%;
                }
                .bottom{
                    width: 100%;
                    height: 70%;
                    .line{
                        background-color: #f6c76f;
                        height: 30%;
                        width: 3px;
                        margin-left: 4%;
                    }
                    .icons{
                        height: 70%;
                        color: #f9f9f9;
                        display: flex;
                        flex-direction: column;
                        font-size: 200%;
                    }
                }
            }
        }
        .about{
            width: 100%;
            h1{
                margin-left: 5%;
                color: #f9f9f9;
            }
            .description{
                width: 100%;
                display: flex;
                height: auto;
                font-size: 25px;
                flex-direction: row;
                padding: 2%;
                .line{
                    background-color: #f6c76f;
                    width:5%;
                    height: 3px;
                    margin-top: 1%;
                    margin-left: 3%;
                    padding-right: 1%;
                }
                .text{
                    color: #f9f9f9;
                    margin-left: 5%;
                }
            }
            .skills{
                width: 100%;
                padding: 5px;
                color: #f9f9f9;
                .header{
                    font-size: 30px;
                    text-align: center;
                    height: auto;
                    width: 100%;
                    margin-left: 48%;
                }
                .skills-list{
                    width: 100%;
                    height: auto;
                    padding: 1% 10%;
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: center;
                    align-items: center;
                    img{
                        height: 100px;
                        width: 100px;
                        margin-left: 33%;
                        margin-top: 2%;
                    }
                    .skill-card{
                        display: flex;
                        flex-direction: column;
                        font-size: 25px;
                        text-align: center;
                        width: 20%;
                        margin: 1% 6%;
                        background-color: var(--primary-color-light);
                        color: #f9f9f9;
                    }
                }
                
            }
        }
        .experience{
            .header{
                color: #f9f9f9;
                font-size: 40px;
                height: auto;
                margin-left: 3%;
            }
            .exp-details{

            }
        }
    }
}