################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Blog.API/.vs/Blog.API
/Blog.API/obj
/.vs
/UI/.vs
/UI/.vscode
/node_modules
/.vscode
/.angular