################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Blog.API/.vs/Blog.API
/Blog.API/obj
